.container-card {
  background-color: white;
  border-radius: 0 0 4.5% 4.5%;
  margin: 0.7rem 0;
  box-shadow: 0 10px 5px -10px #000;
}

.image-card {
  width: 350px;
}

.info-card {
  padding: 1rem;
}

.title-card {
  margin: 0;
  padding: 0;
  color: rgb(62, 62, 62);
}
.description-card {
  margin: 0;
  padding: 0;
  color: rgb(101, 101, 101);
}

.container-card:hover {
  background-color: yellow;
}
